
<!DOCTYPE html>
<html>
<head>
	<title>MyTwitter</title>
	<link rel="stylesheet" href="/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body >

	<header class="header">
		<div style="padding: 20px">
			<h1 style="text-align: center;">MYTwiTTer</h1>
		</div>	
	</header>
<div class="container-fluid" style="position: relative;top:-20px; width: 1200px;padding-top: 50px;padding-bottom: 100px;background-color: #edccaf">
	<%=yield%>
	</div>
	<footer class="footer">
		<div>
			<p style="text-align: center;text-decoration-color: black">@copyright Bhavishya Singh</p>
		</div>
	</footer>
	<script src="https://use.fontawesome.com/9955a33cfd.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		body{
			background-color: #ffffcc;
	}
		.footer {
	
    position:fixed;
    bottom:0px;
    left: 0px;
    height:30px;
    width:100%;
    background-color:#171717;
    color:white;
}
.header {
	position: relative;
    top:-20px;
    left: 0px;
    height:100px;
    width:100%;
    background-color:#251d1d;
    color:white;
}
	</style>
</body>
</html>