<h1>hereeeee</h1>
<form action="/register" method="post">
	<label>NAME: </label><input type="text" name="name">
	<label>E-MAIL: </label><input type="text" name="email">
	<label>PASSWORD: </label><input type="password" name="password">
	<input type="submit" name="submit">
</form>